.bg-first{
    background-color:rgba(9, 4, 248, 0.589);
}
.bg-pro{
    background-color: #2C3E50;
    color: #b3b3b3;
}
.text-color{
    color:rgba(4, 69, 248, 0.678);;
}
.price-config{
    font-size: 2rem;
    font-weight: bold;
}
.admin-action{
    display: inline-block;
}
.text-product-title{
    font-size: 5rem;
    font-weight: bold;
}