 <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Nos Services</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="fa fa-usd"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="lead">Bureau d'etude et Facilitation d'affaires</h2>
                  <a href="#" class="link-c link-icon">En savoir plus
                  <span class="ion-ios-arrow-forward"></span>
                </div>
              </div>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="fa fa-book"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="lead">Facilitation d'études aux USA et CANADA</h2>
                  <a href="#" class="link-c link-icon">En savoir plus
                  <span class="ion-ios-arrow-forward"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="fa fa-home"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="lead">Financement pour acquisition immobiliere aux USA</h2>
                  <a href="#" class="link-c link-icon">En savoir plus
                  <span class="ion-ios-arrow-forward"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <a href="{{path('property_index')}}" class="link-c link-icon"><span class="fa fa-home"> </span></a>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="lead">Gestion Immobilier</h2>
                  <a href="{{path('property_index')}}" class="link-c link-icon">En savoir plus
                  <span class="ion-ios-arrow-forward"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="fa fa-car"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="lead">Vente Vehicule</h2>
                  <a href="#" class="link-c link-icon">En savoir plus
                  <span class="ion-ios-arrow-forward"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>